* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

main {
  text-align: center;
}

button {
  margin: 5px;
}

:root {
  --main-color: #b3c5e4;
}